body {
	margin: 0;
}

#container {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	
}

.parent {
	width: 25%;
	height: 100vh;
	display: inline-block;
	float: left;
	transition: all 0.5s linear;
}

.child {
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
	width: 200%;
	
}

.parent:hover {
	width: 40%;
}

#container:hover .parent:not(:hover) {
	width: 20%;
}
#obrazek1 {
	background-image: url(../img/1.jpg);
		
}

#obrazek2 {
	background-image: url(../img/2.jpg);
	
}

#obrazek3 {
	background-image: url(../img/3.jpg);
	
}

#obrazek4 {
	background-image: url(../img/Wallpaper-4K.jpg);
}

.parent:last-child {
	position: absolute;
	right: 0;
}